<html>
  <head>
    <title>Verificação</title>
  </head>
  <body>
    <form action="/check" method="POST">
      <input type="text" name="nome" placeholder="Nome"><br><br>
      <input type="date" name="idade" placeholder="Idade"><br><br>
      <button type="submit">Verificar</button>
    </form>
  </body>
</html>